* {padding:0; margin:0; list-style-type: none; text-decoration: none;  box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
.header h1{text-align: center; background-image: linear-gradient(to right, black, white, white, black);
         color: black; font-size: 35px;  font-family: sofia; color: red; margin: 0px; padding: 5px; text-transform: uppercase;}
   
.content-wrapper {width:80%; background-color: blue;}
.aside-wrapper {width:20%;  height:70vw; }
.nav-wrapper {  background-color: black; color: green; }
.nav-container{display:flex;}
.navlist {display:flex;}
.ul-list {display:none;}
.fa-bars  {font-size:30px; color:white; padding: 0; margin:0; cursor: pointer;}
.nav1, .nav3 {width:40%;font-weight: bold; text-transform: capitalize; display: flex; justify-content: center; align-items: center; background-color: yellow;}
.nav-2 {width:20%;}
.bars {display:flex; justify-content: flex-end; padding:0 5px 0 0; }
.nav-display {overflow: hidden; color: white; height:0; }
.nav-display a {text-align: center; display: block; color: black; padding:5px 0; text-transform: capitalize;}
.fa-times {font-size:30px; color:white; display:none; cursor: pointer;}
.nav-display .link1 {color:red;}
.nav-display .link1:hover {background-color:gray ; color:white; text-decoration: underline;}
.nav-display .link1:active {background-color: black;}
.content-container-wrapper {display: flex; min-height:1000px; justify-content: center; width:100%; background-color: black;}  
.content-container {width:95%; background-color: black; padding:10px 0 0 0;} 
.slider {display: flex; width:100%; height:200px;}
.arrow-left, .arrow-right{cursor:pointer; display:flex;justify-content: center; align-items: center; font-size:30px; width:5%; background-color: black; color:white;}
.table-slider {width:90%; }
.content-wrapper {width:100%; background-color: blue;}
.table-slider {overflow: hidden;}
.table img{width:100%; height:200px;}
.table-container {display: flex; }
.winning  {height:170px; width:5%; writing-mode: vertical-rl; background-color:gray; color:brown; text-transform:uppercase; display: flex; justify-content: center; align-items: center; transform: rotate(180deg); }
.table-wrapper {height:200px; }
.table-games {width:90%; }
.table-content {height:20%; background-color: white; display:flex; justify-content: center; align-items: center; text-transform: uppercase; color: green;}
.table-1 {font-size:13px; margin: auto; width:100%; height:80%; border: 1px solid black; border-collapse: collapse;}
.table-1 th {text-align: center; background-color: black; color:white; text-transform: uppercase; font-size: 11px;;}
.table-1 td {background-color: green; color:white; text-align: center; font-size:11px; text-transform: capitalize;}
#result {background-color:white; color: green; text-align: center;}
caption {text-transform: uppercase; font-size:20px; background-color: white; padding:5px;}
.table-1 tr, .table-1 td{border:1px solid black;}
.table-2 td {background-color:blue;}
.table-3 td {background-color: brown;}
.table-4 td  {background-color: burlywood;}
.content-container2 p {padding:20px 10px; color:white; text-align: justify;}
.content-container2 p::first-letter {color:red; font-size: 20px; text-transform: uppercase;}
.image-wrapper {width:90%;}
.image-wrapper img {width:100%}
.content-container3 {display: flex; justify-content: center; align-items: center;}
.content-container4 {color:white; text-align: center; display: flex; justify-content: center;}
.contact{background-color: white; color:red; padding:10px; font-size: 25px; text-transform: capitalize;}
.contact-wrapper {width:90%; }
.email {background-color: gray; color:yellow;}
.email p {padding:10px; font-size: 20px; text-align: left;}
.content-container4 {padding:20px 0;}
.signboard {width:70%; height:30px; background-color: gray; display: flex; align-items: center; overflow:hidden ; border:1px dotted black}
.signboard p {white-space: nowrap; color:yellow; animation: signboard 13s linear infinite;}
.signboard-wrapper {display: flex; justify-content: center; padding:30px 0 0 0 ;}
span {font-size: 18px; color: black; font-weight: bold;}
.ticket-table {color:white; font-size: 12px;}
.rotate {margin: auto; width: 10px; height: 10px; padding: 2px; border-radius: 50%; border-style: dotted; border-width: 0 3px 2px 2px; border-color: gold;
             animation: rotate 0.9s linear infinite;}
  .ticket-container {width:95%; }
  .ticket-table {width:100%; border:1px solid white; border-collapse: collapse;}
  .ticket-caption {background-color:black; text-shadow: -1px 0 red, 0 1px black, 1px 0 green, 0 -1px blue;}
  .ticket-wrapper {display:flex; justify-content: center;}
  .ticket-table th {background-color: blanchedalmond; color:black; text-transform: uppercase; padding:3px;}
  .ticket-table td {text-transform: capitalize; padding:5px 2px; border: 1px solid green;}
  .ticket-payment-wrapper {color:white; display:flex; justify-content: center; padding:20px 0; text-align: center;}
  .payment-container {width:350px; display:flex; border:1px solid gold}
  .ticket-content1, .ticket-content2, .ticket-content3 {width:33.33%;}
  .t-content1, .t-content2, .t-content3  {text-transform: uppercase; background-color: #e8c126; color: black; padding: 5px 0; border-left:3px solid gold; border-bottom:3px solid gold; }
  .t-content2  {padding:10px 3px; background-color: #e8c126; color:black; margin: 0; text-transform: capitalize; font-size: 13px; font-weight: bold;}
  .t-content3  {background-color: white; color: black;}
  .t-content3 p {text-transform: capitalize; font-size: 12px; padding:20px 5px; color:gray; font-weight: bold;}
  .t-content4 {padding: 2px;}
  .t-content4 p {background-color: yellow; color:black; border-radius: 10px; width:95%; margin: auto; font-size: 13px; font-weight: bold; text-transform: capitalize;}
 .border-right {border-right:3px solid gold;}

  
  




 
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes signboard {
        0% {transform: translateX(50%);}
        100% {transform: translateX(-100%);}
}

@media screen and (min-width:420px){
    .header h1 {font-size: 40px;}
    .nav1, .nav3 {width:40%;font-weight: bold; font-size:20px; text-transform: capitalize; display: flex; justify-content: center; align-items: center; background-color: yellow;}
}

@media screen and (min-width:520px){
    .header h1 {font-size: 45px;}
    .nav1, .nav3 {width:40%;font-weight: bold; font-size:20px; text-transform: capitalize; display: flex; justify-content: center; align-items: center; background-color: yellow;}
}

@media screen and (min-width:620px){
    .header h1 {font-size: 55px;}
    .nav1, .nav3 {width:40%;font-weight: bold; font-size:20px; text-transform: capitalize; display: flex; justify-content: center; align-items: center; background-color: yellow;}
}

@media screen and (min-width:720px){
    .header h1 {font-size: 60px;}
    .nav-2 {width:60%;}
    .bars {display: none;}
    .navlist li a {padding:10px 20px; display: block; color:red; text-transform: capitalize;}
    .navlist li a:hover {text-decoration: underline; color:white; background-color: gray;}
    .nav-display {display:none;}
    .ul-list {display:flex; padding:5px 5px;justify-content: center; align-items: center;}
    .nav1, .nav3 {width:20%;font-weight: bold; font-size:20px; text-transform: capitalize; display: flex; justify-content: center; align-items: center; background-color: yellow;}
}

@media screen and (min-width:720px){
    .header h1 {font-size:65px;}
}